/* default styles */
.resume-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f7fafc;
  border: 1px solid #e2e8f0;
  padding: 2rem;
  width: 50%;
  margin: 0 auto;
}

.resume-header__name {
  font-size: 2rem;
  font-weight: bold;
  color: #2d3748;
  margin-bottom: 1rem;
}

.resume-header__contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.resume-header__contact-item {
  display: flex;
  align-items: center;
  color: #4a5568;
  margin-right: 1.5rem;
}

.resume-header__contact-item svg {
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 0.5rem;
}

.resume-header__contact-item a {
  color: #4a5568;
}

/* media queries */
@media screen and (min-width: 768px) {
  .resume-header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    width: 80%;
  }

  .resume-header__name {
    margin-bottom: 0;
  }

  .resume-header__contact {
    flex-direction: row;
    margin-top: 0;
  }

  .resume-header__contact-item {
    margin-right: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .resume-header {
    width: 70%;
  }
}
