@tailwind base;

*::-webkit-scrollbar {
  display: none;
}
@tailwind components;
@tailwind utilities;


  /* Works on Chrome, Edge, and Safari */
  /* *::-webkit-scrollbar {
    width: 6px;
  }
  
  *::-webkit-scrollbar-track {
    background: rgb(92, 92, 92);
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 20px;
    border: 3px solid rgb(92, 92, 92);
  }
   */
  .container-snap::-webkit-scrollbar {
    display: none;
}

  /* *{
    background-color: rgb(197, 197, 197);
  } */